.food-card{ 
	width: 45%;
	display: flex;
	margin: 10px;
	align-items: center;
}

.food-text{
	width: 100%;
	justify-content: space-between;
}

.food-item-image{
	width: 150px;
	height: 150px;
	border-radius: 50%;
}



.food-card-header{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	border-bottom: dotted 2px #ad0023;
	padding: 5px;
	padding-bottom: 0;
	min-height: auto;
}

.food-item-name{
	font-size: 20px;
	font-weight: 700;
}

.food-item-price{
	color: #ad0023;
	font-size: 20px;
	font-weight: 700;
}

.food-item-description{
	text-align: left;
	padding: 5px;
	width: 100%;
	font-size: 15px;
	
}

@media only screen and (max-width:768px){
	.food-card{
		width: 100%;	
	}
	
	.food-item-image{
		width: 125px;
		height: 125px;
		border-radius: 50%;
	}
	
}