.menu-wrapper{
    width: 100%;
      padding-left: 15%;
      padding-right: 15%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.slide-enter{
  transition: transform 1000ms ease-out;
}

.slide-enter {
  transform: translateX(100%);
}

.slide-enter.slide-enter-active {
  transform: translateX(0%);
}

.slide-exit {
   width: 100%;
  transform: translateX(0%);
}

.slide-exit-active {
  transform: translateX(-100%);
}
